@model Course

@{
    ViewData["Title"] = "Curso";
}

<h1>Detalhes</h1>

<div>
    <h4>Curso:</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
        </dd>

    </dl>
</div>

<div class="container mt-4">
    <a class="nav-link d-inline" asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a class="nav-link d-inline" asp-controller="Courses" asp-action="Index">Voltar</a> |
    <a class="nav-link d-inline ms-3 btn btn-danger" asp-controller="Courses" asp-action="Delete" asp-route-id="@Model.ID">Deletar</a>
</div>

