@{
    ViewData["title"] = "Alunos";
}

@model IEnumerable<Course>


<div class="container-fluid my-list-container">
    <h2 class="my-3">Lista de Cursos:</h2>
    
    <form asp-action="Index" method="get"class="form-group container">
        <input name="searchString" class="form-control w-25" />
        <button type="submit" class="btn btn-success mt-3">Buscar</button>
    </form>
    
    
    <hr />

    <a asp-controller="Courses" asp-action="Create" class="nav-link d-inline">Novo Curso</a>
    
    <table class="table table-striped my-table mx-auto mt-5">
        <thead>
            <tr class="table-success">
                <th scope="col">Nº</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Carga Horária</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @{
                int i = 0;
                foreach (var course in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@course.Name</td>
                        <td>@course.Description </td>
                        <td class="text-center">@course.TotalHours</td>
                        <td><a asp-action="Details" asp-route-id="@course.ID" class="btn btn-success">Ver Detalhes</a></td>
                    </tr>

                    i++;
                }
            }

        </tbody>

    </table>
</div>

